# MySQL Configuration
MYSQL_ROOT_PASSWORD=palatia_secret_root
MYSQL_DATABASE=palatia
MYSQL_USER=palatia_user
MYSQL_PASSWORD=palatia_pass

# Backend Configuration
JWT_SECRET=palatia_super_secret_jwt_key_2026

# Frontend Configuration
NEXT_PUBLIC_API_URL=https://api-palatia.thefarhany.xyz/api
